.ATMContainer {
    display: block;
}

.ATMContainerHide {
    display: none;
}

.amountTitles {
    margin: 0px 0px 16px 0px;
}

.amountContainers {
    border: 2px solid lightgrey;
    border-radius: 20px;
    width: 400px;
    margin: auto;
    padding: 20px;
}

.specificBtnContainer {
    margin: 10px;
}

.specificBtnContainer button {
    font-weight: bold;
    margin: 5px;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
}